/shelf/
/workspace.xml
.idea
.idea/*
.venv
.venv/*
venv/*
.run
.run/*
.vscode
.vscode/*
.databricks
.databricks/*
.mypy_cache/
.DS_Store
__pycache__/*
*/__pycache__/*
*?metastore_db/*
*/spark_warehouse/*
loaded_data/*
derby.log
output
output/*
